
/* ----- Slider ----- */

.imageSlider {
    width: 100%;
    height: 475px;
    position: relative;
    margin: auto;
    background-color:#fbfffb;
    overflow: hidden;
}

.imageSliderDots {
    cursor: pointer;
    width: 100%;
    height: 5%;
    position: absolute;
    left: 47.5%;
    top: 92.5%;
}

.imageSliderImage {
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: -30%;
}

.imageSlideStyle {
    display: none;
}

.prevArrow, .nextArrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -32px;
    color:#FE6099;
    font-weight: bold;
    font-size: 30px;
    transition: 0.75s ease;
    border-radius: 8px;
    user-select: none;
    background-color: rgba(49, 56, 63, .25);
}

.nextArrow {
    right: 0;
    border-radius: 8px;
}

.prevArrow:hover, .nextArrow:hover {
    background-color: rgba(49, 56, 63, .5);
    color: rgb(255, 255, 255);
}

.imageSliderDot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgba(123, 138, 152, .5);
    border-radius: 50%;
    display: inline-block;
    border: 2px solid;
    border-color:rgba(255, 255, 255, .5);
    transition: background-color 0.75 ease;
}

.imageSliderTextBox {
    cursor: pointer;
    position: absolute;
    width: 25%;
    height: 5%;
    left: 65%;
    top: 20%;
    text-align: justify;
}

.imageSliderText {
    word-wrap: break-word;
    cursor: pointer;
    position: relative;
    text-align: justify;
    color: #F7FFF7;
    font-size: 40px;
    text-shadow: 0px 5px 2.5px rgb(0, 0, 0);
}

.active, .imageSliderDot:hover {
    background-color: rgba(49, 56, 63, .75);
}

.imageSlideFade {
    animation-name: imageSlideFade;
    animation-duration: 1.5s;
}

@keyframes imageSlideFade {
    from {opacity: 0} 
    to {opacity: 1}
}